<p-slide class="cover">
  <h1>Framework-Agnostic Design Systems</h1>
  <p-note class="center">
    <h6>Using Lit Web Components in Angular</h6>
  </p-note>
  <p-note class="center bottom-fist-page text-sub-section">
    <span>Marco Pollacci</span>
    <span>04/10/2025 - Modena</span>
  </p-note>
</p-slide>
