---
import PNotes from "../components/PNotes.astro";
---

<p-slide class="center">
  <h3><span class="text-cover">Finally, Lit</span> 🥳</h3>
  <p class="mid-dimension">
    A modern library for building fast, lightweight, and reusable Web
    Components.
  </p>
</p-slide>
<p-slide>
  <h4><span class="text-cover">Lit</span> ✨</h4>
  <ul class="mid-dimension">
    <li>📌 A lightweight library built on top of Web Components</li>
    <li>📌 Makes writing components simpler and faster</li>
    <li>📌 Fully standard-based — no framework lock-in</li>
  </ul>
</p-slide>
<p-slide>
  <h4>
    <span class="text-cover">"Do more with less"</span> ⚡
  </h4>
  <p class="mid-dimension">
    Lit embraces a minimalist philosophy: it builds on the web platform, adds
    only what's necessary, and stays out of your way for everything else.
  </p>
  <span
    p-fragment
    style="--circle-sketch-height: 1.6em;position: absolute;inset-block-end: 6.9em;width: 11em;inset-inline-start: 0.9em;"
    class="circle-sketch-highlight"></span>
  <PNotes>
    <p>
      The key message here is that Lit doesn’t try to replace the web, it
      enhances it. It gives superpowers to Web Components while staying minimal.
      That means no lock-in and no unnecessary complexity.
    </p>
  </PNotes>
</p-slide>
<style lang="scss">
  h4 {
    margin-block-end: 0.5em;
  }
</style>
